* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s;
}

body.light {
  background-color: #fff;
  color: #19202c;
}

body.dark {
  background-color: #19202c;
  color: #fff;
}

.header {
  align-items: center;
  background-color: inherit;
  display: flex;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.menu-button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 28px;
  padding: 0;
  height: 17px;
  width: 20px;
}

.menu-line {
  background-color: #000;
  border-radius: 20px;
  display: block;
  height: 3px;
  width: 20px;
}

.logo {
  margin-right: 59px;
}

.input-group {
  align-items: center;
  background: #ebebeb;
  border-radius: 22px;
  display: flex;
  justify-content: space-between;
  padding-right: 17px;
  margin-right: 40px;
  max-width: 830px;
  width: 50%;
}

.input-search {
  background-color: transparent;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 23px;
  padding-right: 23px;
  width: 100%;
}

.button-search {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 19px;
  width: 19px;
}

.icon-search {
  fill: #000;
}

.icons {
  align-items: center;
  display: flex;
  margin-left: auto;
}

.icons-link {
  text-decoration: none;
  opacity: 0.24;
}

.icons-link:hover {
  opacity: 0.7;
}

.icons-link:not(last-child) {
  margin-right: 50px;
}

.user {
  margin-left: 45px;
  height: 40px;
  width: 40px;
}

.user-avatar {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.sidebar {
  background-color: inherit;
  height: calc(100% - 114px);
  overflow-y: auto;
  padding-left: 32px;
  position: fixed;
  left: 0;
  top: 114px;
  width: 200px;
}

.content {
  margin-top: 85px;
  padding-left: 250px;
  padding-right: 70px;
  padding-top: 30px;
  height: 400px;
  width: 100%;
}

.nav-menu {
  list-style: none;
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 0;
}

.nav-item {
  margin-bottom: 28px;
}

.nav-link {
  align-items: center;
  display: flex;
  color: #898989;
  text-decoration: none;
}

.nav-link:hover {
  color: #ff0000;
}

.nav-link:hover .icon {
  fill: #ff0000;
}

.nav-item .icon {
  fill: #898989;
}

.nav-text {
  margin-left: 13px;
}

.nav-image {
  border-radius: 50%;
  height: 26px;
  width: 26px;
}

.nav-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
  margin-bottom: 30px;
}

.channal {
  margin-bottom: 49px;
  position: relative;
}

.channal-title {
  align-items: center;
  color: inherit;
  display: flex;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  margin-bottom: 30px;
  text-decoration: none;
}

.channal-text {
  margin-left: 20px;
}

.channal-text-recommended {
  margin-left: 0;
}

.channel-info {
  color: #c2c2c2;
  font-size: 16px;
  line-height: 20px;
  margin-left: 19px;
  margin-right: 350px;
}

.channel-button,
.button-theme {
  background: #ff0000;
  border-radius: 20px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  height: 40px;
  width: 154px;
}

.video-thumb {
  border-radius: 14px;
  height: 150px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.video-thumb-recommended {
  border-radius: 14px;
  height: 250px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.thumbnail {
  height: 150px;
  object-fit: cover;
  width: 100%;
}

.thumbnail-recommended {
  height: 250px;
  object-fit: cover;
  width: 100%;
}

.video-duration {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  padding: 3px 9px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.video-title {
  color: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 4px;
}

.video-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: #c2c2c2;
  font-size: 12px;
  line-height: 16px;
}

.video-counter {
  display: flex;
}

.video-views {
  margin-right: 5px;
}

.video-views::after {
  background: #c2c2c2;
  content: "";
  display: inline-block;
  height: 2px;
  margin-left: 5px;
  vertical-align: middle;
  width: 2px;
}

.channal-button {
  cursor: pointer;
}

.slider-buttons {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 14%;
  top: 15px;
  width: 66px;
}

.mobile-sidebar,
.mobile-search {
  display: none;
}

@media (max-width: 860px) {
  .icons {
    display: none;
  }
  .user {
    margin-left: auto;
  }
}

@media (max-width: 640px) {
  .channel-button,
  .button-theme {
    font-size: 10px;
    height: 30px;
    width: 80px;
  }
  .mobile-search {
    display: block;
    margin-left: auto;
  }
  .user {
    margin-left: 20px;
  }
  .input-group {
    position: fixed;
    top: -100px;
    left: 0;
    margin-left: 25px;
    opacity: 0;
    transition: top 0.2s;
    width: 67%;
  }
  .input-group.is-open {
    opacity: 1;
    top: 20px;
  }
  .menu-button,
  .sidebar {
    display: none;
  }
  .content {
    padding-left: 32px;
  }
  .mobile-sidebar {
    background-color: inherit;
    display: block;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 99;
  }
  .mobile-sidebar .nav-link {
    display: flex;
    flex-direction: column;
  }
  .mobile-sidebar .nav-menu {
    align-items: center;
    display: flex;
    border-top: 1px solid #f1f1f1;
    justify-content: space-around;
    margin-bottom: 0;
    padding-top: 13px;
    padding-bottom: 11px;
  }
  .nav-text {
    font-size: 10px;
    line-height: 13px;
    margin-left: 0;
  }
  .nav-item {
    margin-bottom: 0;
  }
}
